In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import random

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn                               # 신경망 레이어 정의
import torch.optim as optim
import torch.nn.functional as F              # MNIST와 같은 이미지 데이터셋
import torchvision.transforms as transforms         # 이미지 -> 텐서로 변환
from torch.utils.data import DataLoader, Dataset    # PyTorch 데이터셋 정의 및 로딩

import matplotlib.pyplot as plt                     # 시각화
import seaborn as sns
import plotly.express as px

In [6]:
data = pd.read_csv(
        './data/train.csv',
        encoding='cp949',
    )
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51047 entries, 0 to 51046
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 51047 non-null  int64
 1   Churn                      51047 non-null  object
 2   MonthlyRevenue             50891 non-null  float64
 3   MonthlyMinutes             50891 non-null  float64
 4   TotalRecurringCharge       50891 non-null  float64
 5   DirectorAssistedCalls      50891 non-null  float64
 6   OverageMinutes             50891 non-null  float64
 7   RoamingCalls               50891 non-null  float64
 8   PercChangeMinutes          50680 non-null  float64
 9   PercChangeRevenues         50680 non-null  float64
 10  DroppedCalls               51047 non-null  float64
 11  BlockedCalls               51047 non-null  float64
 12  UnansweredCalls            51047 non-null  float64
 13  CustomerCareCalls          51047 non-null  float64
 14  ThreewayCalls              51047 non-null  float64
 15  ReceivedCalls              51047 non-null  float64
 16  OutboundCalls              51047 non-null  float64
 17  InboundCalls               51047 non-null  float64
 18  PeakCallsInOut             51047 non-null  float64
 19  OffPeakCallsInOut          51047 non-null  float64
 20  DroppedBlockedCalls        51047 non-null  float64
 21  CallForwardingCalls        51047 non-null  float64
 22  CallWaitingCalls           51047 non-null  float64
 23  MonthsInService            51047 non-null  int64
 24  UniqueSubs                 51047 non-null  int64
 25  ActiveSubs                 51047 non-null  int64
 26  ServiceArea                51023 non-null  object
 27  Handsets                   51046 non-null  float64
 28  HandsetModels              51046 non-null  float64
 29  CurrentEquipmentDays       51046 non-null  float64
 30  AgeHH1                     50138 non-null  float64
 31  AgeHH2                     50138 non-null  float64
 32  ChildrenInHH               51047 non-null  object
 33  HandsetRefurbished         51047 non-null  object
 34  HandsetWebCapable          51047 non-null  object
 35  TruckOwner                 51047 non-null  object
 36  RVOwner                    51047 non-null  object
 37  Homeownership              51047 non-null  object
 38  BuysViaMailOrder           51047 non-null  object
 39  RespondsToMailOffers       51047 non-null  object
 40  OptOutMailings             51047 non-null  object
 41  NonUSTravel                51047 non-null  object
 42  OwnsComputer               51047 non-null  object
 43  HasCreditCard              51047 non-null  object
 44  RetentionCalls             51047 non-null  int64
 45  RetentionOffersAccepted    51047 non-null  int64
 46  NewCellphoneUser           51047 non-null  object
 47  NotNewCellphoneUser        51047 non-null  object
 48  ReferralsMadeBySubscriber  51047 non-null  int64
 49  IncomeGroup                51047 non-null  int64
 50  OwnsMotorcycle             51047 non-null  object
 51  AdjustmentsToCreditRating  51047 non-null  int64
 52  HandsetPrice               51047 non-null  object
 53  MadeCallToRetentionTeam    51047 non-null  object
 54  CreditRating               51047 non-null  object
 55  PrizmCode                  51047 non-null  object
 56  Occupation                 51047 non-null  object
 57  MaritalStatus              51047 non-null  object
dtypes: float64(26), int64(9), object(23)
memory usage: 22.6+ MB

In [8]:
data = pd.read_csv(
        './data/train_cleaned_outlier_del.csv',
        encoding='cp949',
    )
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50609 entries, 0 to 50608
Data columns (total 59 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 50609 non-null  int64
 1   CustomerID                 50609 non-null  int64
 2   Churn                      50609 non-null  object
 3   MonthlyRevenue             50609 non-null  float64
 4   MonthlyMinutes             50609 non-null  float64
 5   TotalRecurringCharge       50609 non-null  float64
 6   DirectorAssistedCalls      50609 non-null  float64
 7   OverageMinutes             50609 non-null  float64
 8   RoamingCalls               50609 non-null  float64
 9   PercChangeMinutes          50609 non-null  float64
 10  PercChangeRevenues         50609 non-null  float64
 11  DroppedCalls               50609 non-null  float64
 12  BlockedCalls               50609 non-null  float64
 13  UnansweredCalls            50609 non-null  float64
 14  CustomerCareCalls          50609 non-null  float64
 15  ThreewayCalls              50609 non-null  float64
 16  ReceivedCalls              50609 non-null  float64
 17  OutboundCalls              50609 non-null  float64
 18  InboundCalls               50609 non-null  float64
 19  PeakCallsInOut             50609 non-null  float64
 20  OffPeakCallsInOut          50609 non-null  float64
 21  DroppedBlockedCalls        50609 non-null  float64
 22  CallForwardingCalls        50609 non-null  float64
 23  CallWaitingCalls           50609 non-null  float64
 24  MonthsInService            50609 non-null  int64
 25  UniqueSubs                 50609 non-null  int64
 26  ActiveSubs                 50609 non-null  int64
 27  ServiceArea                50609 non-null  object
 28  Handsets                   50609 non-null  float64
 29  HandsetModels              50609 non-null  float64
 30  CurrentEquipmentDays       50609 non-null  float64
 31  AgeHH1                     50609 non-null  float64
 32  AgeHH2                     50609 non-null  float64
 33  ChildrenInHH               50609 non-null  object
 34  HandsetRefurbished         50609 non-null  object
 35  HandsetWebCapable          50609 non-null  object
 36  TruckOwner                 50609 non-null  object
 37  RVOwner                    50609 non-null  object
 38  Homeownership              50609 non-null  object
 39  BuysViaMailOrder           50609 non-null  object
 40  RespondsToMailOffers       50609 non-null  object
 41  OptOutMailings             50609 non-null  object
 42  NonUSTravel                50609 non-null  object
 43  OwnsComputer               50609 non-null  object
 44  HasCreditCard              50609 non-null  object
 45  RetentionCalls             50609 non-null  int64
 46  RetentionOffersAccepted    50609 non-null  int64
 47  NewCellphoneUser           50609 non-null  object
 48  NotNewCellphoneUser        50609 non-null  object
 49  ReferralsMadeBySubscriber  50609 non-null  int64
 50  IncomeGroup                50609 non-null  int64
 51  OwnsMotorcycle             50609 non-null  object
 52  AdjustmentsToCreditRating  50609 non-null  int64
 53  HandsetPrice               50609 non-null  object
 54  MadeCallToRetentionTeam    50609 non-null  object
 55  CreditRating               50609 non-null  int64
 56  PrizmCode                  50609 non-null  object
 57  Occupation                 50609 non-null  object
 58  MaritalStatus              50609 non-null  object
dtypes: float64(26), int64(11), object(22)
memory usage: 22.8+ MB

In [ ]:

missing_data_rows = data[data.isna().any(axis=1)]
missing_data_rows

sns.pairplot(
    missing_data_rows
)

In [27]:
missing_data_rows

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
62,3000410,Yes,90.25,952.0,50.0,0.00,161.0,0.0,308.0,51.2,...,0,0,No,0,30,No,6-VeryLow,Other,Other,Unknown
87,3000598,No,122.00,1806.0,75.0,15.59,146.0,1.0,-156.0,-32.8,...,0,0,No,0,30,No,6-VeryLow,Suburban,Other,Unknown
91,3000626,No,96.04,545.0,60.0,0.66,111.0,1.1,NaN,NaN,...,0,0,No,0,60,No,1-Highest,Town,Other,Unknown
122,3000898,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,5,No,0,30,No,1-Highest,Other,Other,No
126,3000926,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,No,0,30,No,1-Highest,Town,Other,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51039,3399922,No,50.00,492.0,50.0,0.00,0.0,0.0,0.0,0.0,...,0,0,No,0,Unknown,No,6-VeryLow,Suburban,Other,Unknown
51042,3399958,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,6,No,0,60,No,1-Highest,Suburban,Other,Yes
51044,3399978,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,7,No,1,80,No,5-Low,Other,Clerical,No
51045,3399990,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,9,No,0,30,No,5-Low,Other,Other,No
51046,3399994,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,No,1,60,Yes,5-Low,Other,Other,Unknown

In [28]:
drop_data = data.dropna()
drop_data

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0,6,No,0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51035,3399894,No,0.00,76.0,30.0,0.00,0.0,0.0,0.0,0.0,...,0,4,No,0,Unknown,No,2-High,Other,Professional,No
51037,3399906,No,31.92,63.0,17.0,0.00,43.0,0.0,-38.0,-13.2,...,0,3,No,0,Unknown,No,3-Good,Other,Other,Yes
51040,3399942,No,71.99,724.0,70.0,0.00,4.0,0.9,-40.0,-2.0,...,0,7,No,0,Unknown,No,1-Highest,Other,Professional,Unknown
51041,3399946,Yes,117.49,384.0,30.0,0.00,250.0,0.0,0.0,0.0,...,0,2,No,0,30,No,5-Low,Other,Professional,Yes
51043,3399974,No,95.17,1745.0,85.0,0.99,45.0,4.7,122.0,15.9,...,0,9,No,1,60,No,3-Good,Other,Other,No

In [ ]:
49752

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51047 entries, 0 to 51046
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 51047 non-null  int64
 1   Churn                      51047 non-null  object
 2   MonthlyRevenue             50891 non-null  float64
 3   MonthlyMinutes             50891 non-null  float64
 4   TotalRecurringCharge       50891 non-null  float64
 5   DirectorAssistedCalls      50891 non-null  float64
 6   OverageMinutes             50891 non-null  float64
 7   RoamingCalls               50891 non-null  float64
 8   PercChangeMinutes          50680 non-null  float64
 9   PercChangeRevenues         50680 non-null  float64
 10  DroppedCalls               51047 non-null  float64
 11  BlockedCalls               51047 non-null  float64
 12  UnansweredCalls            51047 non-null  float64
 13  CustomerCareCalls          51047 non-null  float64
 14  ThreewayCalls              51047 non-null  float64
 15  ReceivedCalls              51047 non-null  float64
 16  OutboundCalls              51047 non-null  float64
 17  InboundCalls               51047 non-null  float64
 18  PeakCallsInOut             51047 non-null  float64
 19  OffPeakCallsInOut          51047 non-null  float64
 20  DroppedBlockedCalls        51047 non-null  float64
 21  CallForwardingCalls        51047 non-null  float64
 22  CallWaitingCalls           51047 non-null  float64
 23  MonthsInService            51047 non-null  int64
 24  UniqueSubs                 51047 non-null  int64
 25  ActiveSubs                 51047 non-null  int64
 26  ServiceArea                51023 non-null  object
 27  Handsets                   51046 non-null  float64
 28  HandsetModels              51046 non-null  float64
 29  CurrentEquipmentDays       51046 non-null  float64
 30  AgeHH1                     50138 non-null  float64
 31  AgeHH2                     50138 non-null  float64
 32  ChildrenInHH               51047 non-null  object
 33  HandsetRefurbished         51047 non-null  object
 34  HandsetWebCapable          51047 non-null  object
 35  TruckOwner                 51047 non-null  object
 36  RVOwner                    51047 non-null  object
 37  Homeownership              51047 non-null  object
 38  BuysViaMailOrder           51047 non-null  object
 39  RespondsToMailOffers       51047 non-null  object
 40  OptOutMailings             51047 non-null  object
 41  NonUSTravel                51047 non-null  object
 42  OwnsComputer               51047 non-null  object
 43  HasCreditCard              51047 non-null  object
 44  RetentionCalls             51047 non-null  int64
 45  RetentionOffersAccepted    51047 non-null  int64
 46  NewCellphoneUser           51047 non-null  object
 47  NotNewCellphoneUser        51047 non-null  object
 48  ReferralsMadeBySubscriber  51047 non-null  int64
 49  IncomeGroup                51047 non-null  int64
 50  OwnsMotorcycle             51047 non-null  object
 51  AdjustmentsToCreditRating  51047 non-null  int64
 52  HandsetPrice               51047 non-null  object
 53  MadeCallToRetentionTeam    51047 non-null  object
 54  CreditRating               51047 non-null  object
 55  PrizmCode                  51047 non-null  object
 56  Occupation                 51047 non-null  object
 57  MaritalStatus              51047 non-null  object
dtypes: float64(26), int64(9), object(23)
memory usage: 22.6+ MB

In [34]:
data.isna().sum()

CustomerID                     0
Churn                          0
MonthlyRevenue               156
MonthlyMinutes               156
TotalRecurringCharge         156
DirectorAssistedCalls        156
OverageMinutes               156
RoamingCalls                 156
PercChangeMinutes            367
PercChangeRevenues           367
DroppedCalls                   0
BlockedCalls                   0
UnansweredCalls                0
CustomerCareCalls              0
ThreewayCalls                  0
ReceivedCalls                  0
OutboundCalls                  0
InboundCalls                   0
PeakCallsInOut                 0
OffPeakCallsInOut              0
DroppedBlockedCalls            0
CallForwardingCalls            0
CallWaitingCalls               0
MonthsInService                0
UniqueSubs                     0
ActiveSubs                     0
ServiceArea                   24
Handsets                       1
HandsetModels                  1
CurrentEquipmentDays           1
AgeHH1                       909
AgeHH2                       909
ChildrenInHH                   0
HandsetRefurbished             0
HandsetWebCapable              0
TruckOwner                     0
RVOwner                        0
Homeownership                  0
BuysViaMailOrder               0
RespondsToMailOffers           0
OptOutMailings                 0
NonUSTravel                    0
OwnsComputer                   0
HasCreditCard                  0
RetentionCalls                 0
RetentionOffersAccepted        0
NewCellphoneUser               0
NotNewCellphoneUser            0
ReferralsMadeBySubscriber      0
IncomeGroup                    0
OwnsMotorcycle                 0
AdjustmentsToCreditRating      0
HandsetPrice                   0
MadeCallToRetentionTeam        0
CreditRating                   0
PrizmCode                      0
Occupation                     0
MaritalStatus                  0
dtype: int64

In [13]:
data = pd.read_csv(
        './data/test.csv',
        encoding='cp949',
    )
data.isna().sum()

CustomerID                       0
Churn                        20000
MonthlyRevenue                  60
MonthlyMinutes                  60
TotalRecurringCharge            60
DirectorAssistedCalls           60
OverageMinutes                  60
RoamingCalls                    60
PercChangeMinutes              135
PercChangeRevenues             135
DroppedCalls                     0
BlockedCalls                     0
UnansweredCalls                  0
CustomerCareCalls                0
ThreewayCalls                    0
ReceivedCalls                    0
OutboundCalls                    0
InboundCalls                     0
PeakCallsInOut                   0
OffPeakCallsInOut                0
DroppedBlockedCalls              0
CallForwardingCalls              0
CallWaitingCalls                 0
MonthsInService                  0
UniqueSubs                       0
ActiveSubs                       0
ServiceArea                      4
Handsets                         0
HandsetModels                    0
CurrentEquipmentDays             0
AgeHH1                         335
AgeHH2                         335
ChildrenInHH                     0
HandsetRefurbished               0
HandsetWebCapable                0
TruckOwner                       0
RVOwner                          0
Homeownership                    0
BuysViaMailOrder                 0
RespondsToMailOffers             0
OptOutMailings                   0
NonUSTravel                      0
OwnsComputer                     0
HasCreditCard                    0
RetentionCalls                   0
RetentionOffersAccepted          0
NewCellphoneUser                 0
NotNewCellphoneUser              0
ReferralsMadeBySubscriber        0
IncomeGroup                      0
OwnsMotorcycle                   0
AdjustmentsToCreditRating        0
HandsetPrice                     0
MadeCallToRetentionTeam          0
CreditRating                     0
PrizmCode                        0
Occupation                       0
MaritalStatus                    0
dtype: int64